* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
  outline: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

.header {
  background-image: url(../img/header-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header__main {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto 0;
}

.header__top {
  display: flex;
  align-items: center;
  padding-top: 16px;
}

.header__logo {
  width: 137px;
}

.header__nav {
  margin-left: auto;
}

.header__nav-list {
  display: flex;
  gap: 24px;
}

.header__nav-link {
  font: 600 18px/100% "Montserrat", sans-serif;
  color: #FDFDFD;
}

.header__button {
  font: 600 16px/20px "Montserrat", sans-serif;
  color: #FDFDFD;
  margin-left: 49px;
  padding: 12px 24px;
  background-color: #1A3E3E;
}

.header__content {
  margin-top: 463px;
  padding-bottom: 81px;
}

.header__text {
  font: 700 50px/150% "Montserrat", sans-serif;
  color: #FDFDFD;
  margin-bottom: 41px;
}

.header__tour {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.header__form {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.form__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px 0;
}

.form__select {
  border: 1px solid #FDFDFD;
  color: #FDFDFD;
  background-color: transparent;
  border-radius: 10px;
  width: 270px;
  height: 52px;
  text-indent: 16px;
  appearance: none;
  cursor: pointer;
}

.form__select option {
  font: 700 16px/150% "Montserrat", sans-serif;
  color: #000;
}

.block__text {
  font: 400 14px/150% "Montserrat", sans-serif;
  color: #FDFDFD;
  margin: 8px 0 0 8px;
}

.form__search {
  font: 700 16px/20px "Montserrat", sans-serif;
  padding: 16px 36px;
  color: #1A3E3E;
  background-color: #FDFDFD;
  border-radius: 4px;
  margin-bottom: 28px;
}

.subtitle {
  font: 400 24px/20px "Montserrat", sans-serif;
  color: #F2BE22;
}

.title {
  font: 800 32px/120% "Montserrat", sans-serif;
  color: #18121E;
}

.hike {
  background-color: #FFF;
}

.hike__main {
  max-width: 1180px;
  width: 100%;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hike__media {
  position: relative;
  width: 480px;
  height: 526px;
}

.hike__media-image {
  position: absolute;
  width: 350px;
}

.media-video {
  position: absolute;
  top: 126px;
  left: 130px;
}

.hike__media-video {
  position: relative;
  width: 350px;
}

.video-play {
  position: absolute;
  top: 175px;
  left: 150px;
}

.hike__info {
  width: 580px;
}

.hike__info-subtitle {
  margin-bottom: 8px;
}

.hike__info-description, .offer__info-description {
  font: 400 18px/150% "Montserrat", sans-serif;
  margin: 40px 0;
}

.hike__info-button {
  font: 600 16px/20px "Montserrat", sans-serif;
  padding: 16px 36px;
  color: #FDFDFD;
  background-color: #1A3E3E;
}

.offer {
  background-color: #F3F5F4;
}

.offer__main {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 80px 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: min(40px);
}

.offer__info {
  width: 580px;
}

.offer__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.offer__list-item {
  display: flex;
  gap: 16px;
  align-items: center;
}

.item__image {
  width: 50px;
  height: 50px;
}

.item__text-title {
  font: 700 18px/20px "Montserrat", sans-serif;
  color: #18121E;
}

.item__text-description {
  font: 400 14px/20px "Montserrat", sans-serif;
  color: #000;
}

.offer__list-button {
  font: 600 16px/20px "Montserrat", sans-serif;
  margin-top: 40px;
  padding: 16px 36px;
  color: #FDFDFD;
  background-color: #1A3E3E;
}

.offer__image {
  display: grid;
  grid-template-columns: 250px 250px;
  grid-template-rows: 250px 250px;
  gap: 10px;
}

.offer__image-img {
  width: 250px;
  height: 250px;
}
