* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
  outline: 0;
  font-family: "Nunito Sans", sans-serif;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

.header {
  background-image: url(../img/header/header-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header__main {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto 0;
}

.header__top {
  display: flex;
  align-items: center;
  padding-top: 16px;
}

.header__logo {
  width: 137px;
}

.header__nav {
  margin-left: auto;
}

.header__nav-list {
  display: flex;
  gap: 24px;
}

.header__nav-link {
  font: 600 18px/100% "Nunito Sans", sans-serif;
  color: #FDFDFD;
}

.header__button {
  font: 600 16px/20px "Nunito Sans", sans-serif;
  color: #FDFDFD;
  margin-left: 49px;
  padding: 12px 24px;
  background-color: #1A3E3E;
}

.header__content {
  margin-top: 463px;
  padding-bottom: 81px;
}

.header__text {
  font: 700 50px/150% "Nunito Sans", sans-serif;
  color: #FDFDFD;
  margin-bottom: 41px;
}

.header__tour {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.header__form {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.form__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px 0;
}

.form__select {
  border: 1px solid #FDFDFD;
  color: #FDFDFD;
  background-color: transparent;
  border-radius: 10px;
  width: 270px;
  height: 52px;
  text-indent: 16px;
  appearance: none;
  cursor: pointer;
}

.form__select option {
  font: 700 16px/150% "Nunito Sans", sans-serif;
  color: #000;
}

.block__text {
  font: 400 14px/150% "Nunito Sans", sans-serif;
  color: #FDFDFD;
  margin: 8px 0 0 8px;
}

.form__search {
  font: 700 16px/20px "Nunito Sans", sans-serif;
  padding: 16px 36px;
  color: #1A3E3E;
  background-color: #FDFDFD;
  border-radius: 4px;
  margin-bottom: 28px;
}

.subtitle {
  font: 400 24px/20px "Nunito Sans", sans-serif;
  color: #F2BE22;
}

.title {
  font: 800 32px/120% "Nunito Sans", sans-serif;
  color: #18121E;
}

.hike {
  background-color: #FFF;
}

.hike__main {
  max-width: 1180px;
  width: 100%;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hike__media {
  position: relative;
  width: 480px;
  height: 526px;
}

.hike__media-image {
  position: absolute;
  width: 350px;
}

.media-video {
  position: absolute;
  top: 126px;
  left: 130px;
}

.hike__media-video {
  position: relative;
  width: 350px;
}

.video-play {
  position: absolute;
  top: 175px;
  left: 150px;
}

.hike__info {
  width: 580px;
}

.hike__info-subtitle {
  margin-bottom: 8px;
}

.hike__info-description, .offer__info-description {
  font: 400 18px/150% "Nunito Sans", sans-serif;
  margin: 40px 0;
}

.hike__info-button {
  font: 600 16px/20px "Nunito Sans", sans-serif;
  padding: 16px 36px;
  color: #FDFDFD;
  background-color: #1A3E3E;
}

.offer {
  background-color: #F3F5F4;
}

.offer__main {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 80px 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: min(40px);
}

.offer__info {
  width: 580px;
}

.offer__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.offer__list-item {
  display: flex;
  gap: 16px;
  align-items: center;
}

.item__image {
  width: 50px;
  height: 50px;
}

.item__text-title {
  font: 700 18px/20px "Nunito Sans", sans-serif;
  color: #18121E;
}

.item__text-description {
  font: 400 14px/20px "Nunito Sans", sans-serif;
  color: #000;
}

.offer__list-button {
  font: 600 16px/20px "Nunito Sans", sans-serif;
  margin-top: 40px;
  padding: 16px 36px;
  color: #FDFDFD;
  background-color: #1A3E3E;
}

.offer__image {
  display: grid;
  grid-template-columns: 250px 250px;
  grid-template-rows: 250px 250px;
  gap: 10px;
}

.offer__image-img {
  width: 250px;
  height: 250px;
}

.destinations {
  background-color: #FFF;
}

.destinations__main {
  max-width: 1180px;
  width: 100%;
  padding: 80px 0 100px;
  margin: 0 auto;
}

.destinations__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.destinations__info-title {
  margin: 8px 0 50px;
}

.destinations__popular {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.destinations__popular-block {
  position: relative;
  width: 380px;
  cursor: pointer;
}

.block-background {
  width: 100%;
}

.block__rank {
  position: absolute;
  padding: 4px 8px;
  background-color: rgba(253, 253, 253, 0.4);
  top: 50px;
  right: 0;
  display: flex;
  align-items: center;
  border-radius: 4px 0 0 4px;
  z-index: 2;
}

.block__rank-star {
  width: 17px;
}

.block__rank-rating {
  font: 700 14px/18px "Nunito Sans", sans-serif;
  color: #1A3E3E;
}

.block__info {
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0 0 32px 32px;
  display: flex;
  justify-content: space-between;
  padding: 20px 32px 23px;
  width: 100%;
  z-index: 2;
  transition: all 0.3s ease;
}

.block__info-hover {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block__info-text {
  display: flex;
  flex-direction: column;
}

.block__info-title {
  font: 700 24px/120% "Nunito Sans", sans-serif;
  color: #FDF;
}

.block__info-subtext {
  font: 400 14px/18px "Nunito Sans", sans-serif;
  color: #FDF;
}

.block__info-background {
  padding: 8px 16px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.block__info-price {
  font: 700 20px/24px "Nunito Sans", sans-serif;
  color: #FDF;
}

.destinations__popular-block-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 32px;
  padding: 30px 32px 20px;
  opacity: 0;
  visibility: hidden;
  z-index: 3;
  display: flex;
  flex-direction: column;
}

.destinations__popular-block:hover .destinations__popular-block-hover {
  opacity: 1;
  visibility: visible;
}

.destinations__popular-block:hover .block__info {
  opacity: 0;
}

.destinations__popular-block:hover .block__rank {
  opacity: 0;
}

.block__text-hover {
  margin: 40px 0 105px;
  font: 400 16px/150% "Nunito Sans", sans-serif;
  color: #FDFDFD;
}

.block__button {
  width: 176px;
  padding: 12px 24px;
}