* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
    outline: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0; 
}

body {
    background-color: #222;
}

.footer {
    max-width: 1320px;
    margin: 0 auto;
    background-color: transparent;
    font-family: "Nunito Sans", sans-serif;
}

.footer-head {
    margin: 80px 0 48px;
    display: flex;
    align-items: center;
}

.footer-head-header {
    width: 276px;
    margin-right: 50px;
}

.footer-head-header__h1 {
    font: normal 900 28px/150% "Nunito Sans", sans-serif;
    color: #4F8FF0;
}

.footer-head-header__h2 {
    font: normal 900 20px/150% "Nunito Sans", sans-serif;
    color: #FFF;
}

.footer-head__text {
    margin-left: auto;
    font: normal 400 16px/120% "Nunito Sans", sans-serif;
    color: #F8F5F4;
}

.footer-line {
    border-bottom: 1px solid #8C8C8C;
}

.footer-content {
    margin: 48px 0 80px;
    display: flex;
}

.footer-content__info {
    display: flex;
    flex-direction: column;
}

.footer-content__info {
    display: flex;
    gap: 24px;
}

.footer-content__info-item {
    display: flex;
    align-items: center;
    gap: 24px;
    min-width: 335px;
    max-width: 419px;
    width: 100%;
}

.footer-content__info-item__image {
    width: 55px;
}

.footer-content__info-item__text {
    display: flex;
    flex-direction: column;
}

.footer-content__info-item__text-caption {
    font: normal 700 12px/120% "Nunito Sans", sans-serif;
    color: #8C8C8C;
}

.footer-content__info-item__text-label {
    font: normal 700 16px/150% "Nunito Sans", sans-serif;
    color: #FFF;
}

.footer-content__menu {
    margin: 0 24px 0 auto;
}

.footer-content__menu__link {
    font: normal 700 14px/120% "Nunito Sans", sans-serif;
    color: #FFF;
}

.footer-content__menu__link:hover {
    color: #4F8FF0;
}