* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    bottom: 0;
    outline: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: #F7F9FA;
    font-family: "Inter", sans-serif;
}

.preview {
    width: 80%;
    max-width: 1440px;
    padding: 80px calc(10%);
}

.preview__header {
    display: flex;
    margin-bottom: 50px;
}

.articles {
    display: flex;
    gap: 32px;
}

.preview__header-text {
    font: normal 400 42px/50.4px "Fraunces", sans-serif;
}

.preview__header-posts {
    font: normal 400 17px/27px "Inter", sans-serif;
    padding: 8px 32px;
    color: #0070A0;
    margin-left: auto;
}

.articles__card-image {
    max-width: 355px;
}

.articles__card-categories {
    font: normal 400 12px/16px "Inter", sans-serif;
    background-color: #E6F7FF;
    color: #2C90C9;
    padding: 2px 12px 4px;
    margin-top: 25px;
}

.articles__card-info {
    background-color: #FFF;
    padding: 25px 28px 28px 24px;
}

.articles__card-header {
    font: normal 400 25px/31.25px "Inter", sans-serif;
    margin-top: 11px;
}

.articles__card-text {
    font: normal 400 14px/19.6px "Inter", sans-serif;
    margin-top: 12px;
    margin-bottom: 16px;
}

.articles__card-date {
    font: normal 400 12px/19.6px "Inter", sans-serif;
}

