* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0;
}

body {
    background-color: #F8F8F8;
}

.services__main-text {
    color: #01353E;
    font-size: 48px;
    font-weight: 600;
    margin: 128px 802px 96px 744px;
    width: 374px;
    height: 56px;
}

.services__cards-group {
    display: flex;
    gap: 60px;
    margin: 96px 360px 200px 360px;
}

.services__cardhead-text {
    display: flex;
    justify-content: center;
    color: #01353E;
    font-size: 36px;
    font-weight: 400;
    margin-top: 45px;
    margin-bottom: 58px;
}

.services__cards {
    width: 360px;
    height: 577px;
    background-color: #FFFFFF;
}

.services__text {
    color: #242121;
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
    margin-left: 31px;
}

.services__text:first-of-type {
    margin-top: 0px;
}

.services__price-number {
    font-size: 36px;
    font-weight: 400;
    color: #01353E;
}

.services__price-currency {
    font-size: 18px;
    font-weight: 400;
    margin-top: 9px;
    margin-bottom: 9px;
    margin-left: 5px;
}

.services__price {
    display: flex;
    justify-content: center;
}

.services__price:first-of-type {
    margin-top: 61px;
}

#first-price {
    margin-bottom: 137px;
    margin-top: 45px;
}

.other-price {
    margin-bottom: 61px;
    margin-top: 45px;
}