* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
}

body {
    background-color: #F8F8F8;
}

a {
    text-decoration: none;
}

button, [type="submit"] {
    cursor: pointer;
}

.preview {
    padding: 199px 238px 160px;
}

.preview__wrap {
    display: flex;
    align-items: center;
}

.preview__image {
    width: 576px;
    height: 422px;
}